.questionContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    text-align: center;
}

.missingValueLabel {
    color: #e24c4b;
    font-weight: 600;
}

.nonOptionalLabel::after {
    content: " *";
    color: #c59b08;
    display: contents;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.selectButton {
    min-width: 100px;
    height: 35px;
    border: 1px solid #ffc107;
    border-radius: 3px;
    background: transparent;
    color: white;
    margin: 0 10px 10px 0;
    font-weight: 700;
    text-align: center;
}
.selectButton:hover {
    background: #333333;
}
.selectButton:active, .selectButton:focus {
    outline: none;
    border: 1px solid #ffc107;
}

.selectButtonSelected  {
    background: #ffc107;
    border: 1px solid #ffc107;
    outline: none;
}
.selectButtonSelected:hover {
    background: #ffc107;
}


.rateStars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}
.star {
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
    color: #ccc;
    width: 50px;
    height: 60px;
    visibility: hidden;
}
.star:before {
    content: "★";
    visibility: visible;
}

.hoverStar {
    color: #fbe07b;
}

.checkedStar {
    color: #ffc700;
}

